@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
.banner{
    background: url('../img/pa.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.perfil{
    border-radius: 50%;
    border: #fff solid 0.5rem;
    height: 60vh;
}

.myname {
    font-family: 'dois', sans-serif;
    font-size: 4rem;
    color: #fff;
    font-weight: 600;
}


@media (max-width: 576px) { 
    .banner {
        background-position: center;
        height: 80vh;
    }
    .perfil{
       height: 100%;

    }
    .myname {
        font-family: 'dois', sans-serif;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 1200px) { 
    .banner {
        background-position: right;
        height: 80vh;
    }
    .perfil{
       height: 100%;

    }
    
}

.habilidades{
    font-family: 'Kalam', cursive;
    color: #000000;
    
    text-decoration: underline;
}

.historico{
    font-family: 'Kalam', cursive;
    color: #111111;
   margin-left: 35%;
    text-decoration: underline;
}


.letra{
    text-decoration: underline;
}



.histo{
    margin-left: 35%;
   

}

